@import url("https://fonts.googleapis.com/css?family=Varela+Round");

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #002244;
  position: fixed;
  height: 8vh;
  width: 100%;
  z-index: 1;
  text-align: center;
  align-items: center;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 220px;
  margin-top: -2px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: #002244;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgb(255, 252, 252);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  display: none;
}

.sidebarIconToggle {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  float: left;
}

.diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transform: rotate(-135deg);
  margin-top: -9px;
}

.header button {
  font-size: 30px;
  color: #fffcfc;
  font-weight: 800;
  position: relative;
  border: none;
  padding-top: 20px;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.header button:focus,
.header button:hover {
  color: #a7d1d9;
}

.header button:focus:after,
.header button:hover:after {
  width: 100%;
  left: 0%;
}

.header button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .init > div {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .parr,
    .gal {
      width: 100%;
    }
  }

  .gal,
  .parrafo {
    width: 100%; /* Establecer ancho completo en dispositivos móviles */
    margin-bottom: 20px; /* Agregar espacio entre los elementos en dispositivos móviles */
  }

  .gal {
    order: 2; /* Cambiar el orden del elemento gal */
  }

  .parrafo {
    order: 1; /* Cambiar el orden del elemento parrafo */
  }
}

.parr-title {
  text-align: center;
  padding: 13px;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 3.5em;
  text-shadow: 0px 0px 10px #a7d1d9, 0px 0px 10px #a7d1d9, 0px 0px 40px #a7d1d9,
  0px 0px 20px #a7d1d9;

}
.init {
  width: 100%;
  padding-top: 40px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gal {
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.present {
  --main-color: #002244;
  max-width: 400px;
  height: 400px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.present-photo {
  text-align: center;
}

.present-photo img {
  width: 55%;
}

.present-title {
  text-align: center;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 400;
}

.present-title span {
  font-size: 15px;
  color: var(--font-color-sub);
}

.present-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 20px;
  gap: 20px;
  transition: 0.5s;
}

.present-socials-btn {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.present-socials-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

.present:hover > .present-socials {
  opacity: 1;
  height: 35px;
}

.present-socials-btn:hover {
  transform: translateY(-5px);
  transition: all 0.15s;
}

.present-photo:hover {
  transition: 0.3s;
  transform: scale(0.9) translate(5px, 5px);
}
.parrafo {
  width: 50%;
  padding: 20px;
  height: auto;
  text-align: center;
}

.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #a7d1d9;
  border: solid 1px #002244;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}

.parr {
  position: relative;
  width: 100%;
  height: 57vh;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 2em;
  text-decoration: none;
  z-index: 0;
  overflow: scroll;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
}

.parr p {
  font-size: 1.5em;
  text-align: justify;
  margin: 25px;
  word-break: keep-all;
}

.parr:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 80px;
  width: 90px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 76% 50%;
  transition: transform 0.35s ease-out;
}

.parr:hover:before {
  transform: scale(28);
}

.parr:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.parr:hover .parr-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

.sobre h2 {
  text-align: center;
  padding: 13px;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 3.5em;
}

.about {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  padding: 1em 1em;
  width: 100%;
  justify-content: space-around;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .about > div {
    width: 100%;
  }
}

.about-info {
  height: auto;
  width: 50%;
  padding: 1em 1em;
  overflow: auto;
  font-size: 1.5em;
}

.about-info p {
  font-size: 1em;
  padding: 10px;
  text-align: justify;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .img2,
  .about-info {
    width: 100%;
  }
}

.img2 {
  width: 400px;
  height: 400px;
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  z-index: 0;
}

.img2 img {
  width: 99%;
  height: 99%;
  padding: 0 1px;
  z-index: 1;
}

.img2::before {
  content: "";
  position: absolute;
  width: 130px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 200%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img2::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}

.txt {
  text-align: center;
  font-size: 2em;
  padding: 30px;
}
.txt{
  text-shadow: 0px 0px 10px #a7d1d9, 0px 0px 10px #a7d1d9, 0px 0px 40px #a7d1d9,
  0px 0px 20px #a7d1d9;

}
.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 16px;
  padding: 10px;
}

.habilidades {
  width: 50%;
  height: auto;
  display: flex;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: center;
}
.conta {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
  border: solid 5px #002244;
}

.conta .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #002244;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
  /*progreso de las diferentes lenguajes*/
  width: 75%;
  animation-delay: 0.1s;
}

.skill-per.css {
  /*progreso de las diferentes lenguajes*/
  width: 75%;
  animation-delay: 0.1s;
}

.skill-per.javascript {
  /*progreso de las diferentes lenguajes*/
  width: 75%;
  animation-delay: 0.2s;
}

.skill-per.python {
  /*progreso de las diferentes lenguajes*/
  width: 75%;
  animation-delay: 0.3s;
}

.skill-per.reactjs {
  /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.3s;
}

.skill-per.vuejs {
  /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.3s;
}
.skill-per.github {
  /*progreso de las diferentes lenguajes*/
  width: 75%;
  animation-delay: 0.3s;
}

.skill-per.mysql {
  /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.portafolio {
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.portfolio-heading {
  text-align: center;
  align-items: center;
}

.portfolio-heading h1 {
  text-align: center;
  padding: 13px;
  font-size: 2.5em;
  color: #000000dc;
  font-weight: bold;
  padding-top: 3.5em;
  text-shadow: 0px 0px 10px #a7d1d9, 0px 0px 10px #a7d1d9, 0px 0px 40px #a7d1d9,
    0px 0px 20px #a7d1d9;
}

.container {
  padding-top: 3em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  overflow: auto;
}

.servicio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: solid #002244 5px;
}

.servicio p {
  font-size: 2em;
}

.servicio h1 {
  color: black;
}

.servicio img {
  width: 400px;
  height: 500px;
  transition: transform 0.5s ease;
}

.rotate {
  filter: grayscale(100%) brightness(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a7d1d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay h1 {
  font-size: 1.5em;
}
.overlay p {
  color: black;
  font-size: 1.3em;
  text-align: justify;
  margin: 1em;
}

.card__proyect-links {
  align-items: center;
  text-align: center;
  padding: 0.3em 0.3em;
}

.card__proyect-links a {
  color: black;
  text-decoration: none;
  max-width: 100%;
  font-size: 1.5em;
}

.button-content {
  text-align: center;
  padding: 0.3em 0.3em;
}

.project-details-button a {
  text-decoration: none;
  max-width: 100%;
  font-size: 1.3em;
  color: white;
}

.button-content button {
  background-color: #002244;
}

/* Estilos para la sección de contacto */
.contact-section {
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.encabezado {
  color: black;
  padding: 5em;
}

.encabezado h1 {
  text-align: center;
  padding: 13px;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 0px 0px 10px #a7d1d9, 0px 0px 10px #a7d1d9, 0px 0px 40px #a7d1d9,
  0px 0px 20px #a7d1d9;

}

/* Estilos para el formulario de contacto */
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: linear-gradient(45deg, #fff9f9, #a7d1d9);
  border-radius: 2.5em;
  padding: 30px;
  width: 600px;
  height: 450px;
}

.form::before {
  content: "";
  height: 318px;
  width: 309px;
  border-radius: 2.7em;
}

/* Estilos para el botón de enviar */
.button {
  margin-top: 10px;
  font-size: 17px;
  background: #002244;
  color: rgb(244, 231, 231);
  padding: 0.7em 5.5em;
  display: flex;
  align-items: center;
  border: 2px solid #00b4db;
  border-radius: 5em;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #11e9da;
  color: #fcfeff;
}

.button:active {
  color: #a2a7ac;
}

/* Estilos para los campos de entrada */
.input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #128f98;
  outline: none;
  background-color: transparent;
  transition: 0.2s;
}

.input:focus {
  border-bottom: 1px solid #128f98;
  background-color: transparent;
  color: #000000;
}
.input::placeholder {
  color: #030303;
}

/* Estilos para el campo de texto */
.textarea {
  width: calc(100% - 10px);
  padding: 8px;
  height: 300px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #002244;
  outline: none;
  background-color: transparent;
}

.textarea::placeholder {
  color: #000000;
}

.textarea:focus {
  border: 1px solid #002244;
  border-bottom: 1px solid #002244;
  background-color: transparent;
  color: rgb(0, 0, 0);
}
.e-card {
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.919);
  position: relative;
  width: 340px;
  height: 445px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: #0022449d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #a7d1d9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #85e5f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
  font-size: 2em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}
.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}
.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.footer-content {
  color: black;
  padding: 20px 0;
  text-align: center;
  padding-bottom: 1em;
}
.share a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-size: 44px;
  transition: transform 0.3s;
}
.share a#linkedin-icon:hover {
  transform: scale(1.2);
}
.share a#linkedin-icon:hover i {
  color: rgb(25, 113, 172); /* Cambiar el color a azul al hacer hover */
}
.share a#github-icon:hover {
  transform: scale(1.2);
}
.reduce-size {
  transform: scale(0.85); /* Reduce el tamaño al 75% */
  transition: transform 0.3s ease; /* Agrega una transición suave */
}
